{% extends 'temp.html' %}

{% block b%}

<div class="container">
    <div class="row py-5">

        <div class="col-md-6">
            <img src="../static/images/about.png" style="width: 100%;">
        </div>

        <div class="col-md-6">
            <div>
                <h3>About Us</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                    id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labor pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labor pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                </p>
            </div>
        </div>

    </div>

    <div class="row pb-5">

        <div class="col-md-4">
            <div>
                <h3>Our Mission</h3>
                <p>
                    To provide and promote plants  both inside and outside plants to
                    enjoy part of life, even if we don't always realize their impact.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <h3>Our Vission</h3>
                <p>
                    Many plants are versatile and grow well in homes so they are a great way to
                    refresh or add a nice touch to a home without doing a complete remodel. So,
                    that is why everyone should understand the values of plants in our lives.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <h3>Our Goal</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labor pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>

    </div>

</div>

{% endblock %}