{% extends 'temp.html' %}

{% block s %}

.maincard{
    width:800px;
    font-family: sarif;
    margin: 20px auto;
    background: white;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.maincard:hover{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.uppernav{
    width: 100%;
    border-bottom: 2px solid #efefef;
    color: #727272;
    text-transform: uppercase;
    padding: 20px;
    font-size: 12px;
}

.uppernav a{
    color: grey;
    text-decoration: none;
}

.uppernav a:hover{
    color: green;
}



svg.heart {

        height: 24px;
        width: 24px;
        float: right;
        margin-top: -3px;
        transition: all 0.3s ease;
        cursor: pointer;
	}

	svg.heart:hover{
		fill: red;
	}

	svg.arrow {

        float: left;
        height: 15px;
        width: 15px;
        margin-right: 10px;

      }

.description {
		padding: 40px 30px;
		float: left;
       width: 55%;
		border-left: 2px solid #efefef;
	  }

.description  h5 {
         color: #515151;
         font-weight: 300;
         padding-top: 15px;
         margin: 0;
         font-size: 25px;
         font-weight: 300;
       }


      .description h3 {
        color: #515151;
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
       }

	  .description p {
         font-size: 13px;
         line-height: 20px;
         color: #727272;
         padding: 20px 0;
         margin: 0;
      }

.btn-A{
        outline: 0;
		border: 0;
		background: none;
		border: 1px solid #d9d9d9;
		padding: 8px 0px;
		margin-bottom: 30px;
		color: #515151;
		text-transform: uppercase;
		width: 125px;
		font-family: inherit;
		margin-right: 5px;
		transition: all 0.3s ease;
		font-weight: 500;
}

.btn-A:hover{
			background: darken(white, 2%);
           border: 1px solid #aedaa6;
           color: #aedaa6;
           cursor: pointer;
}

.modal{
    background: rgba(0,0,0,.5);
    top: 0;
    padding-top: 200px;
}

{% endblock %}

{% block b%}



    {% if data %}

<div class="container p-3">
    <div class="maincard">
        <div class="uppernav">
            <svg class="arrow" version="1.1" viewBox="0 0 512 512" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 " stroke="#727272"/></svg>
            <a href="products">Back to all Plants</a>
		  <svg class="heart" version="1.1" viewBox="0 0 512 512" width="20px" xml:space="preserve" stroke="#727272" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M340.8,98.4c50.7,0,91.9,41.3,91.9,92.3c0,26.2-10.9,49.8-28.3,66.6L256,407.1L105,254.6c-15.8-16.6-25.6-39.1-25.6-63.9  c0-51,41.1-92.3,91.9-92.3c38.2,0,70.9,23.4,84.8,56.8C269.8,121.9,302.6,98.4,340.8,98.4 M340.8,83C307,83,276,98.8,256,124.8  c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6L245.1,418l10.9,11l10.9-11l148.3-149.8  c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z" stroke="#727272"/></svg>
        </div>
        <div class="row">
            <div class="col-4" style="padding: 20px 15px 20px 30px;">
                <div class="photo">
                    <img src="../static/photos/{{data[5]}}" width="230px">
                </div>
            </div>
            <div class="col-8 description">
                <h3>{{data[2]}}</h3>
                {% set price = data[4] %}
                {% if data[7] >0 %}
                {% set new = price - (price*(data[7]/100)) %}
		        <h5>Rs.<del style="font-size: 20px; color: grey;">{{price}} </del>{{new}}</h5>
                {% else %}
                <h5>Rs. {{price}}</h5>
                {% endif %}
                <p>{{data[3]}}</p>

                {% set stock = data[6] %}
                {% if stock > 0 %}
                <button class="btn-A" id="bt1">Add to Cart</button>
                {% else %}
                <button class="btn-A">Out of Stock</button>
                {% endif %}
                <button class="btn-A">Wishlist</button>

            </div>
        </div>
    </div>
</div>

<div class="modal">
        	<div class="modal-dialog">
				<div class="modal-content">
                	<div class="modal-header">
                    	<div>Select Quantity</div><span class="fa fa-close" id="bt2"></span>
                    </div>
                	<div class="modal-body">
                        <form method="post" action="addtocart">
                            Quantity:
                            <select name="quantity">
                                {% set stock = data[6]  %}
                                {% for m in range(1,stock)%}
                                <option value="{{m}}">{{m}}</option>
                                {% endfor%}
                            </select>
                            <input type="hidden" value="{{data[0]}}" name="product_id">
                            {% set discount=data[7]%}
                            {% if discount > 0 %}
                            <input type="hidden" value="{{new}}" name="price">
                            {% else %}
                            <input type="hidden" value="{{price}}" name="price">
                            {{price}}
                            {% endif %}

                            <input type="submit" value="Add" id="bt3">
                        </form>

                    </div>
                </div>
            </div>
        </div>


    {% endif %}



{% endblock %}